@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
h1,
h2 {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background-color: rgb(235, 251, 255);
  background-image: url(images/bg-hero-desktop.svg);
}
.header-initial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 30px 70px;
}
.huddle-logo {
  height: auto;
  width: 175px;
}
.trial-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 82, 191);
  border-radius: 50px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 15px 40px;
  transition: 200ms;
}
.try-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.2);
  padding: 10px 50px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 200ms;
}
.header-final {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 70px;
  gap: 58px;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.header-gap {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.header-content h1 {
  font-size: 40px;
}
.header-content p {
  font-size: 18px;
}
.mockups {
  height: auto;
  width: 675px;
}
main {
  padding: 125px 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 12px rgba(212, 211, 211, 0.5);
  border-radius: 15px;
  padding: 85px 18px 46px 114px;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  max-width: 50%;
  flex: 2;
}
.main-content h2 {
  font-size: 28px;
}
.main-content p {
  font-size: 18px;
  color: rgb(90, 90, 90);
}
.main-image {
  height: auto;
  width: 450px;
}
.poped-box {
  box-shadow: 1px 1px 12px rgba(212, 211, 211, 0.5);
  border-radius: 15px;
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 175px 60px 175px;
  margin-bottom: -200px;
  background-color: rgb(255, 255, 255);
  gap: 25px;
}
.poped-box-content h2 {
  font-size: 30px;
}
footer {
  background-color: hsl(192, 100%, 9%);
  color: rgb(255, 255, 255);
  display: flex;
  padding: 200px 0 80px 0;
  justify-content: space-around;
  flex-direction: column;
  font-size: small;
}
.footer-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.logo-white {
  height: auto;
  width: 250px;
  padding-bottom: 40px;
}
.footer-content {
  display: flex;
  gap: 100px;
}
.footer-initial {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex: 1.5;
}
.footer-initial a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);

  font-weight: 400;
}
.footer-initial img {
  width: 15px;
  height: auto;
}
.footer-final {
  display: flex;
  gap: 100px;
  flex: 2;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.links {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.social-media {
  display: flex;
  align-items: start;
  gap: 10px;
}
.social {
  filter: invert(100%) sepia(25%) saturate(39%) hue-rotate(27deg)
    brightness(109%) contrast(111%);
  height: auto;
  width: 40px;
}
.footer-copyright {
  align-self: self-end;
  user-select: none;
}
.trial-button:hover {
  background-color: rgb(251, 119, 203);
}
.try-button:hover {
  background-color: rgb(250, 250, 250);
}
.links:hover {
  text-decoration: underline;
}
.social:hover {
  filter: invert(68%) sepia(69%) saturate(5200%) hue-rotate(294deg)
    brightness(100%) contrast(105%);
}
