@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
h1,
h2 {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: hsl(193, 100%, 96%);
  background-image: url(images/bg-hero-desktop.svg);
}
main {
  padding: 125px 70px 100px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
}
.huddle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 30px 70px 30px 70px;
}

.try-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: -1px 1px 1px -1px #00000033;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  color: black;
}
.huddle-logo {
  height: auto;
  width: 175px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 70px 30px 70px;
}

.get-started-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233 64 225);
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  padding: 15px 40px 15px 40px;
  box-shadow: 1px 1px 1px 1px rgb(233 64 225);
}
.mockups {
  height: auto;
  width: 675px;
}
.huddle-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.huddle-content h1 {
  font-size: 40px;
  padding-bottom: 30px;
}
.huddle-content p {
  padding-bottom: 30px;
  font-size: 18px;
}
.box-grow-together {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgb(212, 211, 211);
  border-radius: 15px;
}
.grow-together-image {
  height: auto;
  width: 450px;
  padding: 85px 45px 46px 10px;
}
.grow-together-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 50%;
  padding-left: 130px;
}
.grow-together-content h2 {
  font-size: 40px;
  padding-bottom: 25px;
}
.grow-together-content p {
  font-size: 22px;
}
.box-flowing-conversation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgb(212, 211, 211);
  margin-top: 75px;
  border-radius: 15px;
}
.flowing-conversation-image {
  height: auto;
  width: 450px;
  padding: 85px 10px 46px 45px;
}
.flowing-conversation-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 50%;
  padding-right: 130px;
}
.flowing-conversation-content h2 {
  font-size: 40px;
  padding-bottom: 25px;
}
.flowing-conversation-content p {
  font-size: 22px;
}
.box-your-users {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgb(212, 211, 211);
  margin-top: 75px;
  border-radius: 15px;
}
.your-user-image {
  height: auto;
  width: 450px;
  padding: 85px 45px 46px 10px;
}
.your-user-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 50%;
  padding-left: 130px;
}
.your-user-content h2 {
  font-size: 40px;
  padding-bottom: 25px;
}
.your-user-content p {
  font-size: 22px;
}
.poped-box {
  box-shadow: 1px 1px 10px rgb(212, 211, 211);
  border-radius: 15px;
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 175px 60px 175px;
  margin-bottom: -200px;
  background-color: #fff;
}
.community-build-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(233 64 225);
  border-radius: 50px;
  color: #fff;
  padding: 30px 100px 30px 100px;
  font-weight: bolder;
}
.poped-box-content h2 {
  font-size: 40px;
  padding-bottom: 25px;
}

.icon-facebook,
.icon-twiter,
.icon-instagram,
.icon-copyright {
  filter: invert(100%) sepia(25%) saturate(39%) hue-rotate(27deg)
    brightness(109%) contrast(111%);
}
.logo-white {
  padding: 200px 10px 30px 110px;
}
.footer-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-left: 110px; /*change it when ready*/
  padding-bottom: 60px;
}
.icon-facebook,
.icon-twiter,
.icon-instagram {
  height: auto;
  width: 40px;
}
.icon-copyright {
  height: auto;
  width: 15px;
}
.location,
.phone,
.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.social-media {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-right: 20px;
}
/* .icon-location,
.icon-phone,
.icon-mail {
  padding-right: 10px;
} */
